// TAIGA SUPPORT

// Dependencies
@import "dependencies/reset";
@import "dependencies/colors";
@import "dependencies/mixins";

// Partials
@import "partials/base";
@import "partials/header";
@import "partials/content";
@import "partials/article";
@import "partials/category";
@import "partials/footer";
