{% macro render_category(category, active=none, show_articles=none) %}
	<div class="category{% if category._id == active %} active{% endif %}">
		<a href="{{ category|url }}">{{ category.name }}</a>

        {% if show_articles and category.children %}
            <ul "articles-list">
                {% for article in category.children %}
                    <li><a href="{{ article|url }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
	</div>
{% endmacro %}
