{% macro render_main_nav_menu() %}
    <nav class="main-nav">
        <ul>
            <li>
                <a href="https://taigaio.github.io/taiga-doc/dist/" target="_blank"
                   alt="Go to Taiga docs for admin and developers">
                    DOCS
                </a>
            </li>
            <li>
                <a href="https://taigaio.github.io/taiga-doc/dist/api.html" target="_blank"
                   alt="Go to the Taiga API documentation">
                    API
                </a>
            </li>
            <li>
                <a href="https://groups.google.com/d/forum/taigaio" target="_blank"
                   alt="Go to the Taiga mailing list at Google Groups">
                    GOOGLE GROUP
                </a>
            </li>
            <li>
                <a href="https://tree.taiga.io" target="_blank"
                   alt="Go to Taiga Tree">
                    TAIGA
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}
