* {
    box-sizing: border-box;
}

body {
    background-color: $white;
    color: $grayer;
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    @include bp(mobile) {
        font-size: 16px;
    }
}

a {
    color: $primary;

    &:hover {
        color: $primary-light;
    }

}


h1, h2, h3, h4 {
    padding: .8rem 0;
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid lighten($gray-light, 15%);
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    @include bp(mobile) {
        font-size: 2rem;
    }
}

h2 {
    border-bottom: 1px solid lighten($gray-light, 15%);
    font-size: 1.35rem;
    margin-bottom: .85rem;
    margin-top: 2rem;
    @include bp(mobile) {
        font-size: 1.65rem;
    }
}

h3 {
    font-size: 1.2rem;
    margin-bottom: .7rem;
    margin-top: 1rem;
    @include bp(mobile) {
        font-size: 1.4rem;
    }
}

h4 {
    font-size: 1.1rem;
    margin-bottom: .55rem;
    margin-top: .5rem;
    @include bp(mobile) {
        font-size: 1.250rem;
    }
}

// Input elements

input,
select {
    background-color: $white;
    box-sizing: border-box;
    color: $gray;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    cursor: pointer;
    line-height: normal;
    margin-top: 1px 0 0;
}

input:focus,
select:focus,
textarea:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    box-shadow: none;
    outline: none;
}

// Input text

.input-text {
    border: none;
    border: 1px solid darken($whitish, 10%);
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    padding: .6rem 1rem;;

    &:focus {
        border-color: $grayer;
        box-shadow: none;
    }

}
