.category {
    flex-shrink: 0;
    margin: 0;
    width: 100%;
    @include bp(mobile) {
        margin: 2rem 2rem 0 0;
        min-width: 250px;
        width: 26%;
    }

    > .breadcrumb {
        margin-bottom: 1rem;
    }
    a {
        color: $gray;
        margin-bottom: .5rem;
        padding: .5rem .8rem;
        width: 100%;
    }
}

.articles-list {
    color: $gray-light;
    list-style-position: inside;
    font-weight: bold;
    li {
    }
    a {
        display: block;
        color: $gray;
        font-weight: normal;
        padding: .5rem .25rem;
        &:hover {
            background: $whitish;
        }
        &.active {
            font-weight: bold;
            background: $whitish;
            color: $gray;
        }
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    width: 100%;
    @include bp(mobile) {
        flex-direction: row;
    }

    .category {
        align-items: center;
        border: 2px solid $whitish;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: .5rem 0;
        padding: 1rem;
        width: 100%;
        @include bp(mobile) {
            max-width: 30%;
            margin: .5rem;
        }

        .category-link {
            align-items: center;
            color: $gray;
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            font-weight: bold;
            min-height: 160px;
            padding: 1rem;
            text-align: center;

            img {
                height: 60px;
                margin: -5px 0 1rem 0;
                opacity: .2;
                width: 60px;

            }

            &::before {
                content: "";
            }

            &:hover {
                color: $grayer;

                img {
                    opacity: .7;
                }

            }

        }

    }

}

.category-excerpt {
    width: 100%;
    li {
        font-size: .9rem;
        &.more {
            color: $gray-light;
            text-align: center;
        }
    }
    a {
        display: block;
        text-align: center;
        &:hover {
            background: $whitish;
        }
    }
}
