.content {
}

.content-inside {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  @include bp(mobile) {
    flex-direction: row;
  }
}

.category {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  min-width: 250px;
  width: 26%;
  @include bp(mobile) {
    margin: 2rem 2rem 0 0;
  }
}
