.content {
}

.content-inside {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  @include bp(mobile) {
    flex-direction: row;
  }
  @include bp(desktop) {
    max-width: 80%;
  }
}

.article {
  line-height: 2;

  p, li {
    line-height: 2;
    margin: 1rem 0;
  }

}
