{% from "macros/nav.html" import render_main_nav_menu %}

<!doctype html>
<meta charset="utf-8">

<title>{% block title %}Welcome{% endblock %} — Taiga Support</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="{{ '/static/styles.css'|asseturl }}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'> <!-- Google fonts -->
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}"> <!-- Pygment css-->

<script type=text/javascript src="{{ '/static/app.js'|asseturl }}" charset="utf-8"></script>

<body>

    <header class="header">
        <div class="header-inside">
            <a class="main-logo" href="{{ '/'|url }}">
                <img class="taiga-logo" src="{{ '/images/icon-taiga-color.png'|asseturl }}" />
                <h1>TAIGA <span>SUPPORT</span></h1>
            </a>

            {{ render_main_nav_menu() }}
        </div>
    </header>

    <div class="main-search">
    	<div class="gcse-searchbox-only"
             data-resultsUrl="{{ '/search'|url }}"></div>
    </div>

    <div class="content">
        <div class="content-inside">
            {% block body %}{% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="footer-inside">
            <span>&copy; Copyright 2014-2016 Taiga Agile LLC.</span>

            {{ render_main_nav_menu() }}
        </div>
    </footer>

	<script>
		(function() {
			var cx = '010658051760178355211:cbd4t5snspy';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				'//cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		})();
    </script>
</body>
