{% extends "layout.html" %}


{% block meta_title %}Search Results{% endblock %}
{% block meta_description %}Page to show search results.Taiga is a project management platform for agile dev  elopers & designers and project managers who want a beautiful tool that makes work truly enjoyable.{% endblock %}

{% block body %}
    <div class="gcse-searchresults-only"></div>
{% endblock %}

{% block extra_down %}
    <!-- Google Custom Search -->
	<script>
		(function() {
			var cx = '010658051760178355211:cbd4t5snspy';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				'//cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		})();
    </script>
{% endblock %}
